<div class="kpi-card">
    <div class="card-header">
        <h3 class="card-title">{{ title }}</h3>
        <div class="icon-container" [innerHTML]="icon"></div>
    </div>

    <div class="card-body">
        <div class="card-value">{{ value }}</div>
        <div class="card-growth">
            <svg class="growth-icon" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24"
                fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                <polyline points="22 7 13.5 15.5 8.5 10.5 2 17"></polyline>
                <polyline points="16 7 22 7 22 13"></polyline>
            </svg>
            {{ growth }}
        </div>
    </div>
</div>